<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div class="container-fluid-nav">
  <div class="row">
    
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">The Star Wars</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            
            
            <ul class="nav navbar-nav navbar-right">
              
              <li class="dropdown">
                  <img src="img/11887.png" alt="" style="position: absolute;left: -15px; top:15px; width: 20px; height: 20px;"/>
                  <a id="usernm" href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User <span class="caret"></span></a>
                <ul class="dropdown-menu">
                 
                  <li>
                    <form>
                        <a class="btn btn-link btn-logout" href="#">Logout</a>
                      
                    </form>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
      </nav>
   
  </div>
</div>
<div class="alert alert-danger" id="expr" style="display:none;" >
  <strong>Sorry!</strong> Your search limit has been expired .
</div>
<form>
    <input class="searchbox" ng-disabled="disableSeach" type="text" name="search" placeholder="Enter planets Name.." ng-change="searchCount()" ng-model="GlobelSearch.name" >
</form>

<div class="plantsdetails">
    
    <ul>
        <li ng-repeat="planate in planateDetail | filter:GlobelSearch as results" ng-click="planetDetailsFunction(planate.url)" ng-class="{max : planate.population == maxPoint}">
            <span><b> planet Name</b> : {{planate.name}}</span>  <span><b> planet population</b> : {{planate.population}}</span>
        </li>
        <li class="animate-repeat noresultfoundlist" ng-if="results.length == 0">
                                    <strong>No match found...</strong></li>
    </ul>
    
</div>
  <!-- Modal Start -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{planateDetailView.name}}</h4>
      </div>
      <div class="modal-body">
          <div>
              <span><b>name :</b> {{planateDetailView.name}}</span><span><b>climate :</b>{{planateDetailView.climate}}</span><span><b>created :</b>{{planateDetailView.created}}</span>
              <span><b>diameter :</b>{{planateDetailView.diameter}}</span><span><b>edited :</b>{{planateDetailView.edited}}</span><span><b>gravity : </b>{{planateDetailView.gravity}}</span>
              <span><b>orbital period : </b>{{planateDetailView.orbital_period}}</span><span><b>population :</b>{{planateDetailView.population}}</span><span><b>rotation period :</b>{{planateDetailView.rotation_period}}</span>
              <span><b>surface water :</b>{{planateDetailView.surface_water}}</span><span><b>terrain :</b>{{planateDetailView.terrain}}</span>
          
          </div>
      </div>
      <div class="modal-footer">
<!--        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>